@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}
 

h3{
    background-color: #000000
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid; 
    
 
  /* grid-row-end: 3; */
    background-color: black;
} 

aside {
    padding: 2rem; 
    color:black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    background-repeat: no-repeat;
    align-items: flex-start;

}

.fondo{    
    background-image: url("./img/fondo.png");  
    background-position: center bottom 10%; 
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    align-items: flex-start;
}




.logo {
    font-weight: 400;
    font-size: 1.3rem;
    color: #f2f2f2;


}

.contenedor {
    font-weight: 400;
    font-size: 1.3rem;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.descripcion{
    align-items: center;
    background-color: #961818;
    padding: 12px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    
}

.boton-menu {
    background-color: transparent; 
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1.5rem;
    font-size: .85rem;
    width: 100%;

} 







.boton-menu.active {
    background-color: var(--clr-white);
    color: #04AA6D;
} 

 .boton-menu.active::before { 
    content: '';
    /* position: absolute; */
    /* width: 1rem;
    height: 2rem; */
    /* bottom: 100%; */
    right: 0;
    background-color: transparent;
    /* border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white); */
}

 .boton-menu.active::after { 
    content: '';
    /* position: absolute; */
    /* width: 1rem;
    height: 2rem; */
    /* top: 100%; */
    /* right: 0; */
    background-color: transparent;
    /* border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white); */
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb { 
    transform: rotateZ(90deg);

}



.numerito {
    color:#961818 ;
    padding: .15rem .25rem;
    border-radius: .25rem;
}



.texto-footer {
    color: #04AA6D;;
    font-size: .85rem;
}

main {
    background-color: var(--clr-white);
    margin: 10px;
    padding: 3rem;

}

.titulo-principal {
    color: #04AA6D;
    margin-bottom: 2rem;
    background-color: var(--clr-white);
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    background-color: var(--clr-white);
}


.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
    background-color: var(--clr-white);
}

.producto{
    background-color: var(--clr-white);
}

.producto-detalles {
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    background-color: #000000;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-precio{
    background-color: var(--clr-white);
}
.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: #961818;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: #961818;
    color: var(--clr-white);
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 12px;
}
.card {
    width: 190px;
    height: 254px;
    background: black;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
  }
  
  
  
  .card::before {
    content: '';
    position: absolute;
    width: 280px;
    background-image: linear-gradient(180deg,  #961818,  #e24949);
    height: 5%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    inset: 5px;
    
  }  

  
  



/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:var(--clr-gray); 
}

.carrito-vacio,
.carrito-comprado {
    color:#961818;
    
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:var(--clr-gray); 
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: #961818;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    background-color:var(--clr-gray); 
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: #961818;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: #961818;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color:#961818;
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color:  #04AA6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--clr-white);
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: var(--clr-white);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .signin {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color:  #04AA6D;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .login {
    position: relative;
    height: 700px;
    width: 405px;
    padding: 60px 60px;
    background: url(./img/farhad-esmailsorkh-CWq-X_N_Z94-unsplash\ \(1\).jpg) no-repeat   center;   
    
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
    margin: auto;
    margin-bottom: 100px;
  }
  
  form {
    padding-top: 80px;
  }
  
  .activo {
    border-bottom: 2px solid  #04AA6D;
  }
  
  .nonactivo {
    color: rgba(255, 255, 255, 0.2);
  }
  
  .h2s {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
  }
  
  h2:first-child {
    padding-left: 0px;
  }
  
  .clave {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4; 
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
  }
  
  .text {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
  }
  
  .text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
  }
  
  .text:focus + span {
    opacity: 0.6;
  }
  
  input[type="text"],
  input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
  
  
  
  input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
  }
  
 
  .clave,
  .custom-checkbox {
    margin-left: 20px;
    font-weight: bold;
  }
  
  .custom-checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 6px;
  }
  
  .custom-checkbox:checked {
    background-color: #961818;
  }
  
  .custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
  }
  
  .custom-checkbox:focus {
    outline: none;
  }
  
  label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
  }
  
  .signin {
    background-color:#961818;
    color:  var(--clr-white);
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  
  .signin:hover {
    background:  #04AA6D;
    box-shadow: 0px 4px 35px -5px  #04AA6D;
    cursor: pointer;
  }
  
  .signin:focus {
    outline: none;
  }
  
  hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 85px;
    position: relative;
  }
  
  .as {
    text-align: center;
    display: block;
    top: 120px;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
  }

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside{
        position: fixed;
        z-index: 9;
        background-color: #04AA6D;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        background-image: none;
        flex-direction: column;
    }
    
   
    .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .lista{
        display: flex;
        flex-direction: column;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}